---
import Layout from "../layouts/Layout.astro";
interface Fact {
    key: string
    value: any
}

const Facts: Fact[] = [
    {
        key: "Name",
        value: "Frederik Hørgreen Sørensen"
    },
    {
        key: "Email",
        value: "frederik@hoergreen.dk"
    },
    {
        key: "Currently working at",
        value: "Hiper"
    },
    {
        key: "Working as",
        value: "Enterprise Architect"
    },
    {
        key: "Responsible for",
        value: "the tech stack and cloud infrastructure for Hiper's business support systems while also being a resource in the development scrum team"
    },
    {
        key: "Working with",
        value: "AWS, Kubernetes, Docker, Linux, Golang, PHP"
    }
]
---

<Layout title="About">
    <div>
        <h1 class="header">
            Some facts about me
        </h1>
        <div class={"space-y-4"}>
            {Facts.map((fact) => {
                return (
                    <p><span class={"font-bold"}>{fact.key}</span>: {fact.value}</p>
                )
            })}
        </div>
    </div>
</Layout>
