---
import Layout from "../layouts/Layout.astro";
interface Fact {
    key: string
    value: any
}

const Facts: Fact[] = [
    {
        key: "Email",
        value: "frederik@hoergreen.dk"
    },
    {
        key: "Currently working at",
        value: "Hiper"
    },
    {
        key: "Working as",
        value: "Enterprise Architect"
    },
    {
        key: "Responsible for",
        value: "the tech stack and cloud infrastructure for Hiper's business support systems"
    },
    {
        key: "Working with",
        value: "AWS, Kubernetes, Docker, Linux, Golang, PHP, React"
    }
]
---

<Layout title="about" path="">
    <div>
        <h1>
            About me
        </h1>
        <div class={"space-y-2"}>
            {Facts.map((fact) => {
                return (
                    <p><span class={"font-bold"}>{fact.key}</span>: {fact.value}</p>
                )
            })}
        </div>
    </div>
</Layout>
