---
interface Link {
    to: string
    title: string
}

const Links: Link[] = [
    {to: "/", title: "About"},
    {to: "/projects", title: "Projects"},
    {to: "/social", title: "Social"},
]

const currentPath = Astro.url.pathname;
---

<nav class="sticky top-0 z-10 bg-white dark:bg-neutral-900 border-b-2 mx-auto p-4 pt-0 drop-shadow-md md:drop-shadow-none dark:drop-shadow-none">
    <div class="flex justify-start py-2">
        <h1 class="!mb-0">Frederik Hørgreen</h1>
    </div>
    <div class="flex flex-wrap items-center justify-start space-x-4">
        {Links.map((link, index) => {
            return (
                <>
                    <a href={link.to} class={`link ${currentPath === link.to ? "underline" : ""}`}>
                        {link.title}
                    </a>
                    {index < Links.length - 1 && (
                        <span>|</span>
                    )}
                </>
            )
        })}
    </div>
</nav>
